h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  padding-top: 0.5rem;
  text-align: center;
}
h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
i {
  font-size: 4rem;
}
div {
  user-select: none !important;
  width: fit-content;
  margin: 1rem auto;
}
body {
  margin: auto;
  width: 50%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button {
  width: fit-content;
  margin: 2rem auto;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
pre {
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}
.titleURL {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
  transition: all 0.2s;
}
.titleURL:hover {
  scale: 1.1;
}
#github {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 3rem;
  transition: all 0.3s;
}
img {
  border-radius: 0.5rem;
}
#github:hover {
  transform: scale(1.1);
}
.outputArrow {
  font-size: 2rem !important;
}
.output {
  margin: auto;
  margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
  body {
    width: 96%;
  }
  h1 {
    font-size: 3rem;
  }
  button {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  #github {
    top: 0;
    right: 0;
  }
  #github i {
    font-size: 1rem;
  }
}
